.form {
    display: flex;
    column-gap: 50px;
    height: 100px;
    align-items: center;
    margin-bottom: 100px;
}

label {
    display: block;
}

input {
    height: 25px;
    width: 300px;
    border: 1px solid black;
}

button {
    width: 100px;
    height: 30px;
    align-self: flex-end;
}




